@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");
@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded:200,300,500");
#Chat_wrapper {
  height: calc(100vh - 57px);
  display: flex; }
  #Chat_wrapper #Chat_blackOpacity {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer; }
  #Chat_wrapper #Chat_boxAllMatchs {
    width: 250px;
    overflow: auto;
    position: absolute;
    left: -250px;
    height: calc(100vh - 57px);
    background-color: white;
    transition: transform .3s ease-in-out;
    display: flex;
    flex-direction: column; }
    #Chat_wrapper #Chat_boxAllMatchs #Chat_boxTitle {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #EAEAEA;
      height: 60px;
      padding: 0 15px; }
      #Chat_wrapper #Chat_boxAllMatchs #Chat_boxTitle #Chat_title {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 19px;
        margin: auto 10px; }
      #Chat_wrapper #Chat_boxAllMatchs #Chat_boxTitle #Chat_close {
        width: 16px;
        height: 16px;
        cursor: pointer;
        background-position: center;
        background-size: cover;
        background-image: url("./ressources/close2.png");
        margin: auto 0; }
    #Chat_wrapper #Chat_boxAllMatchs #Chat_allMatchs {
      height: calc(100vh - 57px);
      overflow: auto; }
      #Chat_wrapper #Chat_boxAllMatchs #Chat_allMatchs .Chat_profile {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        cursor: pointer; }
        #Chat_wrapper #Chat_boxAllMatchs #Chat_allMatchs .Chat_profile:hover {
          background-color: #f5fafe; }
        #Chat_wrapper #Chat_boxAllMatchs #Chat_allMatchs .Chat_profile .Chat_picture {
          width: 50px;
          height: 50px;
          border-radius: 100px;
          background-position: center;
          background-size: cover;
          border: 2px solid white;
          box-shadow: 0 0 0.5px 1.5px #DBDBDB;
          margin-left: 10px; }
        #Chat_wrapper #Chat_boxAllMatchs #Chat_allMatchs .Chat_profile .Chat_text {
          width: 68%;
          font-family: 'Encode Sans Semi Expanded', sans-serif;
          display: flex;
          flex-direction: column;
          margin: auto; }
          #Chat_wrapper #Chat_boxAllMatchs #Chat_allMatchs .Chat_profile .Chat_text .Chat_username {
            font-weight: 300;
            font-size: 16px;
            margin-bottom: 3px; }
          #Chat_wrapper #Chat_boxAllMatchs #Chat_allMatchs .Chat_profile .Chat_text .Chat_lastMessage {
            overflow: hidden;
            white-space: nowrap;
            font-weight: 200;
            font-size: 12px; }
  #Chat_wrapper #Chat_box {
    display: flex;
    flex-direction: column; }
    #Chat_wrapper #Chat_box #Chat_header {
      background-color: white;
      height: 60px;
      width: 100vw;
      border-bottom: 1px solid #EAEAEA;
      display: flex;
      padding: 5px 0; }
      #Chat_wrapper #Chat_box #Chat_header #Chat_dropDown {
        width: 60px;
        cursor: pointer;
        background-position: center;
        background-size: cover;
        background-image: url("./ressources/dropdown.png"); }
      #Chat_wrapper #Chat_box #Chat_header #Chat_strip {
        display: flex;
        width: 100%;
        margin-right: 40px; }
        #Chat_wrapper #Chat_box #Chat_header #Chat_strip #Chat_stripPicture {
          margin: auto;
          width: 50px;
          height: 50px;
          border-radius: 100px;
          background-position: center;
          background-size: cover;
          border: 2px solid white;
          box-shadow: 0 0 0.5px 1.5px #DBDBDB; }
        #Chat_wrapper #Chat_box #Chat_header #Chat_strip #Chat_noMatch {
          margin: auto;
          font-family: 'Roboto';
          font-weight: 300;
          font-size: 16px; }
    #Chat_wrapper #Chat_box #Chat_conversation {
      overflow: auto;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 120px); }
      #Chat_wrapper #Chat_box #Chat_conversation .Chat_message {
        font-family: 'Roboto';
        margin: 5px 10px;
        padding: 7px 10px;
        font-weight: 300;
        font-size: 14px;
        max-width: 40vw;
        flex-wrap: wrap;
        word-break: break-all; }
      #Chat_wrapper #Chat_box #Chat_conversation .Chat_messageSent {
        background-color: #3ca4ff;
        color: white;
        align-self: flex-end;
        border-radius: 12px 12px 2px 12px; }
      #Chat_wrapper #Chat_box #Chat_conversation .Chat_messageReceived {
        background-color: #f1f1f1;
        align-self: flex-start;
        border-radius: 12px 12px 12px 2px; }
      #Chat_wrapper #Chat_box #Chat_conversation .Chat_dateMessage {
        color: #b4b4b4;
        font-family: 'Encode Sans Semi Expanded', sans-serif;
        font-size: 11px;
        font-weight: 200;
        margin: 20px auto; }
    #Chat_wrapper #Chat_box #Chat_otherUserWritingMessage {
      color: #b4b4b4;
      font-family: 'Encode Sans Semi Expanded', sans-serif;
      font-size: 13px;
      font-weight: 200;
      margin: 5px 10px;
      font-style: italic; }
    #Chat_wrapper #Chat_box #Chat_form {
      border-top: 1px solid #EAEAEA;
      height: 60px;
      background-color: #FFF;
      display: flex;
      justify-content: space-between; }
      #Chat_wrapper #Chat_box #Chat_form #Chat_input {
        border: none;
        outline: none;
        margin-left: 30px;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 15px;
        width: 80%;
        overflow: auto;
        resize: none;
        padding-top: 17px; }
        #Chat_wrapper #Chat_box #Chat_form #Chat_input::placeholder {
          color: #d7d7d7; }
      #Chat_wrapper #Chat_box #Chat_form #Chat_submit {
        margin: auto 20px auto auto;
        transition: all 0.3s ease-in-out;
        width: 35px;
        height: 35px;
        background-position: center;
        background-size: cover; }
