@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded:200,300,400");
#InfoUser_block {
  padding-left: 2px;
  padding-bottom: 5px;
  max-width: 100vw !important; }

.InfoUser_line {
  width: 88%;
  margin: auto;
  border-top: calc(1px + 0.05vh) solid;
  border-image: linear-gradient(210deg, #68efc6 40%, #3be961 70%, #18e23a 90%) 10; }

.InfoUser_box {
  display: flex;
  justify-content: space-between;
  margin: 2vh; }

#InfoUser_NameAgeText {
  font-size: calc(5px + 2vh);
  background: linear-gradient(210deg, #68efc6 40%, #3be961 70%, #18e23a 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 20px; }

#InfoUser_NameAgeEdit {
  margin: auto 0;
  display: flex;
  cursor: pointer; }

#InfoUser_NameAgeEditImg {
  background-position: center;
  background-size: cover;
  background-image: url("./ressources/edit.png");
  margin: auto 0 auto 1vh;
  width: 2vh;
  height: 2vh;
  max-height: 4vw;
  max-width: 4vw;
  min-height: 10px;
  min-width: 10px;
  margin-right: 5px; }

#InfoUser_aboutDescription {
  text-align: center;
  display: inherit;
  margin: 5px auto; }

.InfoUser_aboutImg {
  width: 2.8vh;
  height: 2.8vh;
  max-height: 4vw;
  max-width: 4vw;
  min-height: 10px;
  min-width: 10px;
  margin: auto 0;
  background-position: center;
  background-size: cover; }

.InfoUser_aboutText {
  padding: 2px;
  flex-wrap: wrap;
  word-break: break-all;
  border-radius: 2px;
  max-width: 90%;
  min-width: 40px;
  font-size: calc(5px + 1.2vh); }
  .InfoUser_aboutText:focus {
    outline: none; }

#InfoUser_aboutLocation {
  background-image: url("./ressources/location.png"); }

#InfoUser_aboutSex {
  background-image: url("./ressources/gender.png"); }

#InfoUser_aboutWork {
  background-image: url("./ressources/work.png"); }

#InfoUser_aboutHashtags {
  background-image: url("./ressources/interest.png"); }

#InfoUser_aboutLanguage {
  background-image: url("./ressources/language.png"); }

#InfoUser_aboutPopularity {
  background-image: url("./ressources/trophy.png"); }

.InfoUser_description {
  display: flex;
  justify-content: space-between; }

#InfoUser_modify {
  display: flex;
  flex-direction: column;
  min-height: 40vw;
  border-radius: 5px;
  margin-top: 2vh; }
  #InfoUser_modify .InfoUser_input {
    border-image: linear-gradient(210deg, #68efc6 40%, #3be961 70%, #18e23a 90%) 10;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 95%;
    margin: 10px auto;
    padding: 5px 1px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-size: 17px;
    font-weight: 200;
    color: black; }
    #InfoUser_modify .InfoUser_input:focus {
      outline: none; }
  #InfoUser_modify .react-tags {
    height: 100%;
    border-radius: 1px;
    font-size: 1em;
    cursor: text; }
  #InfoUser_modify .react-tags__selected {
    display: inline;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px; }
  #InfoUser_modify .react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: white;
    border: none;
    background: linear-gradient(170deg, #a8d6ea 10%, #dfefff 70%, #aadaff 90%);
    cursor: pointer; }
  #InfoUser_modify .react-tags__search {
    display: inline; }
  #InfoUser_modify .react-tags__search input {
    margin-left: 2.094px;
    margin-bottom: 10px;
    border-image: linear-gradient(170deg, #eff8ff 10%, #dfefff 70%, #b4e3f7 90%) 1;
    width: 95% !important;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-size: 16px !important;
    font-weight: 200; }
    #InfoUser_modify .react-tags__search input:focus {
      outline: none; }
  #InfoUser_modify .react-tags__suggestions {
    cursor: pointer;
    margin: -10px auto; }
  #InfoUser_modify #InfoUser_submit {
    background: linear-gradient(170deg, #68efc6 20%, #3be961 70%, #18e23a 90%);
    color: white;
    margin: 10px auto;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Encode Sans Semi Expanded', sans-serif; }

.InfoUser_button {
  display: flex;
  border: 1px solid blue; }

.InfoUser_blockUser {
  border: 1px solid red;
  background-color: rgba(30, 35, 114, 0.7);
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer; }

.InfoUser_reportUser {
  margin-left: 20px;
  background-color: rgba(201, 22, 22, 0.7);
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer; }

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

li {
  padding-left: 1em;
  text-indent: -1em; }

li:before {
  content: "#"; }
