@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded:500');
#Logo {
    margin: auto;
    display: flex;
    text-decoration: none;
}
    #Logo_img {
        background-image: url('ressources/logo.png');
        background-position: center;
        background-size: cover;
        width: 5vh;
        height: 5vh;
    }
    #Logo_text {
        margin: auto;
        font-family: 'Encode Sans Semi Expanded', sans-serif;
        font-size: 4vh;
        font-weight: 500;
        color: #1a0049;
    }