@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded:300')
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400')


#Match_wrapper
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column

    #Match_number
        margin: auto auto 20px auto
        display: flex
    
        #Match_numberLogo
            width: 25px
            height: 25px
            background-image: url('./ressources/logo.png')
            background-position: center
            background-size: cover
            /* margin: auto */
            margin-right: 5px
        
        #Match_numberText
            font-family: 'Roboto', sans-serif
            font-weight: 300
            font-size: 18px
            margin: auto
    

    #Match_framePictures
        width: 80vw
        max-width: 450px
        height: 65%
        max-height: 800px
        margin: auto
        position: relative
            
    #Match_button
        margin: 20px auto 80px auto
        display: flex
        justify-content: center
        height: 65px !important
    
        #Match_like
            background-image: url('./ressources/like.png')
            background-position: center
            background-size: cover
            width: 65px
            height: 65px
            border-radius: 100%
            box-shadow: 0 2px 10px 0 rgba(155,155,155,0.77)
            margin-left: 70px
            border: 1px solid white
            cursor: pointer
        
        #Match_dislike
            background-image: url('./ressources/dislike.png')
            background-position: center
            background-size: cover
            width: 65px
            height: 65px
            border-radius: 100%
            box-shadow: 0 2px 10px 0 rgba(155,155,155,0.77)
            border: 1px solid white
            cursor: pointer



@media (max-height: 300px)
    #Match_informations
        display: none !important

        #Match_frameBulletpoint
            bottom: 3px !important

@media (min-width: 800px)
    #Match_number
        order: 3
        margin: auto
    
    #Match_picture
        margin: 70px auto auto auto !important
    
    #Match_button
        margin: auto !important