@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded:500');
#NavLogOut {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
    #NavLogOut_img {
        margin: auto;
        background-position: center;
        background-size: cover;
        width: 30px;
        height: 30px;
    }
    #NavLogOut_text {
        margin: 5px auto auto auto;
        font-family: 'Encode Sans Semi Expanded', sans-serif;
        font-size: 12px;
        font-weight: 400;
    }

    .NavLogOut_textColor {
        background: linear-gradient(170deg,#96bac9 10%,#dfefff 70%,#aadaff 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .NavLogOut_imgColor {
        background-image: url('ressources/logout_white.png');
    }

    .NavLogOut_textColorSelect {
        background: linear-gradient(170deg,#25126d 10%,#3426f8 70%,#25095a 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .NavLogOut_imgColorSelect {
        background-image: url('ressources/logout.png');
    }


    @media screen and (min-width: 1050px) and (min-height: 800px) {
    #NavLogOut {
        flex-direction: initial;
        order: 5;
        margin: auto 40px auto 0;
    }
        #NavLogOut_img {
            width: 25px;
            height: 25px;
        }
        #NavLogOut_text {
            display: none;
        }
}

@media screen and (min-width: 800px) and (max-height: 800px) {
    #NavLogOut {
        flex-direction: initial;
        order: 5;
        margin: auto 40px auto 0;
    }
        #NavLogOut_img {
            width: 25px;
            height: 25px;
        }
        #NavLogOut_text {
            display: none;
        }
}