@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded:500');
#NavProfile {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
    #NavProfile_img {
        margin: auto;
        background-position: center;
        background-size: cover;
        width: 30px;
        height: 30px;
    }
    #NavProfile_text {
        margin: 5px auto auto auto;
        font-family: 'Encode Sans Semi Expanded', sans-serif;
        font-size: 12px;
        font-weight: 400;
    }

    .NavProfile_textColor {
        background: linear-gradient(170deg,#96bac9 10%,#dfefff 70%,#aadaff 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .NavProfile_imgColor {
        background-image: url('ressources/profile_white.png');
    }

    .NavProfile_textColorSelect {
        background: linear-gradient(170deg,#25126d 10%,#3426f8 70%,#25095a 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .NavProfile_imgColorSelect {
        background-image: url('ressources/profile.png');
    }


@media screen and (min-width: 1050px) and (min-height: 800px) {
    #NavProfile {
        flex-direction: initial;
        order: 3;
        margin: auto auto auto 70px;
    }
        #NavProfile_text {
            padding-left: 6px;
            font-size: 14px;
            font-weight: 500;
            margin: auto;
        }
}

@media screen and (min-width: 800px) and (max-height: 800px) {
    #NavProfile {
        flex-direction: initial;
        order: 3;
        margin: auto auto auto 70px;
    }
        #NavProfile_text {
            padding-left: 6px;
            font-size: 14px;
            font-weight: 500;
            margin: auto;
        }
}