@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded:500');
#NavSettings {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
    #NavSettings_img {
        margin: auto;
        background-position: center;
        background-size: cover;
        width: 30px;
        height: 30px;
    }
    #NavSettings_text {
        margin: 5px auto auto auto;
        font-family: 'Encode Sans Semi Expanded', sans-serif;
        font-size: 12px;
        font-weight: 400;
    }

    .NavSettings_textColor {
        background: linear-gradient(170deg,#96bac9 10%,#dfefff 70%,#aadaff 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .NavSettings_imgColor {
        background-image: url('ressources/settings_white.png');
    }

    .NavSettings_textColorSelect {
        background: linear-gradient(170deg,#25126d 10%,#3426f8 70%,#25095a 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .NavSettings_imgColorSelect {
        background-image: url('ressources/settings.png');
    }


@media screen and (min-width: 800px) {
    #NavSettings {
        flex-direction: initial;
        order: 4;
        margin: auto 40px auto auto;        
    }
        #NavSettings_img {
            width: 25px;
            height: 25px;
        }
        #NavSettings_text {
            display: none
        }
}