.ProfileDragPictures_pictures {
  cursor: grab;
  position: relative; }
  .ProfileDragPictures_pictures:active {
    cursor: grabbing; }
  .ProfileDragPictures_pictures .ProfileDragPictures_remove {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 5px;
    right: 5px;
    border-radius: 100%;
    background-image: url("ressources/remove.png");
    display: flex;
    cursor: pointer;
    background-position: center;
    background-size: cover; }
