#Settings_wrapper
    display: flex
    height: 
    border: 1px solid red
    height: calc(100vh - 57px)

    #Settings_block
        margin: auto
        width: 500px
        height: 300px
        border: 1px solid blue
        display: flex
        flex-direction: column

        #Settings_age
            display: flex
            flex-direction: column
            border: 1px solid red

        
        #Settings_location
            display: flex
            flex-direction: column
            border: 1px solid blue

        .Settings_description
            display: flex
            justify-content: space-between